*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 100%;
  line-height: 1.5;
}
body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}
.text {
  padding-top: 4em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.quote {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.person {
  font-family: 'Italianno', cursive;
  font-size: 2.2em;
  font-style: italic;
}
footer{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}
footer img{
  height: 2.5em;
  width: 3em;
  border-radius: 20%;
  padding: 2px;
  
}
a:hover{
  transform: scale(1.5);
  filter: grayscale(40%);
}